.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header {
  color: black;
  font-size: 2em;
  font-family: cursive;
  background: #cce0ff;
  padding: 5px;
}

.board {
  /* position: relative; */
  margin: 0 auto;
  display: block;
  width: 350px;
  padding-top: 40px;
}

.one {
  border: 5px solid white;
  width: 80px;
  height: 80px;
  position: relative;
  bottom: 335px;
  left: 245px;
}

.two {
  border: 5px solid white;
  width: 80px;
  height: 80px;
  position: relative;
  bottom: 335px;
  left: 270px;
}

.three {
  border: 5px solid white;
  width: 80px;
  height: 80px;
  position: relative;
  bottom: 335px;
  left: 295px;
}

.four {
  border: 5px solid white;
  width: 80px;
  height: 80px;
  position: relative;
  bottom: 220px;
  right: 25px;
}

.five {
  border: 5px solid white;
  width: 80px;
  height: 80px;
  position: relative;
  bottom: 220px;
  right: 0px;
}

.six {
  border: 5px solid white;
  width: 80px;
  height: 80px;
  position: relative;
  bottom: 220px;
  left: 25px;
}

.seven {
  border: 5px solid white;
  width: 80px;
  height: 80px;
  position: relative;
  bottom: 105px;
  right: 295px;
}

.eight {
  border: 5px solid white;
  width: 80px;
  height: 80px;
  position: relative;
  bottom: 105px;
  right: 270px;
}

.nine {
  border: 5px solid white;
  width: 80px;
  height: 80px;
  position: relative;
  bottom: 105px;
  right: 245px;
}

.winner {
  font-size: 3em;
  font-family: cursive;
  color: #3385ff;
  margin-top: -30px;
}
